@import 'ColorTheme.module.scss';

.centeredBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.buttonContainer {
	text-align: center;
	width: 50%;

	@mixin createBtn {
		box-shadow: $boxShadow100;
		width: 70%;
		margin: 10px;
		color: white;
		background: $green100;
		border: none;
		padding: 10px;
		border-radius: 11px;
		transition: all 0.2s ease;
		outline: none;
		text-transform: uppercase;
		font-weight: 700;
		&:hover {
			box-shadow: $boxShadowHover;
			background: $green200;
			color: white;
			transition: all 0.2s ease;
			cursor: pointer;
		}
		&:active {
			border: 0;
			transition: all 0.2s ease;
		}
		&:focus {
			outline: none;
			box-shadow: $boxShadowFocusGreen300;
		}
	}

	.createBtn {
		@include createBtn;
	}

	.saveBtn {
		@include createBtn;
	}

	.deleteButton {
		width: 70%;
		margin: 10px;
		color: white;
		background: $red100;
		border: none;
		padding: 10px;
		border-radius: 11px;
		border-bottom: 4px solid $red200;
		transition: all 0.2s ease;
		outline: none;
		text-transform: uppercase;
		font-weight: 700;
		&:hover {
			background: $red200;
			color: white;
			transition: all 0.2s ease;
			cursor: pointer;
		}
		&:focus {
			outline: none;
			box-shadow: $boxShadowFocusRed200;
		}
	}

	.cancelButton {
		width: 70%;
		margin: 10px;
		color: $grey300;
		background: $grey100;
		border: none;
		padding: 10px;
		border-radius: 11px;
		border-bottom: 4px solid $grey200;
		transition: all 0.2s ease;
		outline: none;
		text-transform: uppercase;
		font-weight: 700;
		&:hover {
			background: $grey200;
			color: $grey300;
			transition: all 0.2s ease;
			cursor: pointer;
		}
		&:focus {
			outline: none;
			box-shadow: $boxShadowFocusGrey200;
		}
	}
}
