@import 'Common.module.scss';

.centeredBox {
	background: #363b59;

	.buttonContainer {
		.cancelButton {
			width: 70%;
			margin: 10px;
			color: #2c3149;
			background: #8389a4;
			border: none;
			padding: 10px;
			border-radius: 11px;
			border-bottom: 4px solid #70758c;
			transition: all 0.2s ease;
			outline: none;
			text-transform: uppercase;
			font-weight: 700;
		}
		.cancelButton:hover {
			background: #70758c;
			color: #2c3149;
			transition: all 0.2s ease;
			cursor: pointer;
		}

		.deleteButton {
			width: 70%;
			margin: 10px;
			color: white;
			background: #ec5e68;
			border: none;
			padding: 10px;
			border-radius: 11px;
			border-bottom: 4px solid #f32633;
			transition: all 0.2s ease;
			outline: none;
			text-transform: uppercase;
			font-weight: 700;
		}
		.deleteButton:hover {
			background: #f32633;
			color: white;
			transition: all 0.2s ease;
			cursor: pointer;
		}
	}
}
