@import 'Common.module.scss';


.centeredBox {
    background: #363B59;

    .buttonContainer {
        .cancelButton {
            width: 70%;
            margin: 10px;
            color: #2C3149;
            background: #8389A4;
            border: none;
            padding: 10px;
            border-radius: 11px;
            border-bottom: 4px solid #70758c;
            transition: all 0.2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }
        .cancelButton:hover {
            background: #70758c;
            color: #2C3149;
            transition: all 0.2s ease;
            cursor: pointer;
        }

        .deleteButton {
            width: 70%;
            margin: 10px;
            color: #fff;
            background: #EC5E68;
            border: none;
            padding: 10px;
            border-radius: 11px;
            border-bottom: 4px solid #f32633;
            transition: all 0.2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }
        .deleteButton:hover {
            background: #f32633;
            color: #ffffff;
            transition: all 0.2s ease;
            cursor: pointer;
        }
    }
}