.background {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;

	.flexView {
		width: 80%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.pageContent {
			height: 100%;
			overflow-y: auto;
			display: flex;
			flex-wrap: wrap;
		}
	}

	.settingWindow {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #00000050;
		width: 50%;
		height: 50%;
	}
}
