.sideNav {
	height: 100%;
	width: 25%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #016666;
	transition: 0.5s ease;
	overflow-x: visible;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	a {
		color: white;
		width: 100%;
		justify-content: center;
		padding: 0.5em;
		text-align: center;
		&:hover {
			background-color: #2f2e2e;
		}
	}

	.btn {
		background-color: rgb(5, 142, 78);
		height: 40px;
		width: 40px;
		border: none;
		border-radius: 50%;
		color: white;
		cursor: pointer;

		// position on the edge of the side nav
		z-index: 9999;
		position: absolute;
		right: -20px;

		// center the icon
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: RoyalBlue;
		}
	}

	// to clear the bullet point before link
	ul {
		list-style-type: none;
	}
}
