@import 'Common.module.scss';

.sidePanel {
	position: relative;
	background-color: $green50;
	transition: 0.5s ease;
	overflow-x: visible;
	padding-top: 20px;

	border-right: $green300 solid 3px;

	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-right: 10px solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(to top right, $green300, $green50);

	.sidePanelContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;

		a {
			width: 100%;
			height: 50px;
			color: white;
			padding: 0.5em;
			text-align: center;
			justify-content: center;
			&:hover {
				background-color: $green100;
			}
		}

		// to clear the bullet point before link
		ul {
			list-style-type: none;
		}
	}

	.btn {
		background-color: $green100;
		height: 40px;
		width: 40px;
		border: none;
		border-radius: 50%;
		color: white;
		cursor: pointer;

		// position on the edge of the side nav
		position: absolute;
		right: -20px;

		// center the icon
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: $blue200;
		}

		&:focus {
			outline: none;
			box-shadow: $boxShadowFocusGreen200;
		}
	}

	.createBtn {
		font-size: 2vw;
	}
}
