@import 'Common.module.scss';

.sidePanel {
	position: relative;
	background-color: #6e9b7b;
	transition: 0.5s ease;
	overflow-x: visible;
	padding-top: 20px;

	.sidePanelContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;

		a {
			color: white;
			width: 100%;
			justify-content: center;
			padding: 0.5em;
			text-align: center;
			&:hover {
				background-color: #92b3a3;
			}
		}

		// to clear the bullet point before link
		ul {
			list-style-type: none;
		}
	}

	.btn {
		background-color: rgb(5, 142, 78);
		height: 40px;
		width: 40px;
		border: none;
		border-radius: 50%;
		color: white;
		cursor: pointer;

		// position on the edge of the side nav
		position: absolute;
		right: -20px;

		// center the icon
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: RoyalBlue;
		}
	}

	.createBtn {
		font-size: 2vw;
	}
}
