.TopNav {
	padding: 1vh;
	background-color: #e9e9e9;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	flex-grow: 1;

	.leftPart {
		display: flex;
		align-items: center;
		.mainTitle {
			margin: 0 3vw;
		}

		.searchContainer {
			margin: 0 3vw;
			padding: 1vh 0;

			input[type='text'] {
				padding: 6px;
				font-size: 17px;
				border: none;
			}

			button {
				float: right;
				padding: 6px 10px;
				background: #ddd;
				font-size: 17px;
				border: none;
				cursor: pointer;

				&:hover {
					background: #ccc;
				}
			}
		}
	}

	.menuContainer {
		position: relative;
		float: right;
		justify-content: flex-end;

		.userButton {
			padding: 0;
			width: 50px;
			border: 0;
			border-radius: 50%;
			background-color: #fff;
			color: #333;
			cursor: pointer;
			outline: 0;
			font-size: 40px;
		}
		.dropdown {
			position: absolute;
			top: 100%;
			right: 0;
			width: 300px;
			z-index: 2;
			border: 1px solid rgba(0, 0, 0, 0.04);
			box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
			background-color: white;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					padding: 8px 12px;
					&:hover {
						background-color: rgba(0, 0, 0, 0.14);
						cursor: pointer;
					}
				}
			}
		}
	}
}
