.uploadBox {
	.collections {
		position: relative;
		display: inline-block;
		.dropdownContent {
			// display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;

			.collectionList {
			padding: 0;
			list-style: none;
			background: #f2f2f2;
			}
		}
	}
}